* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#countdown {
    width: 100%;
    max-width: 50rem;
    height: 100svh;
    margin-inline: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#countdown>.numbers {
    display: flex;
    font-size: 20vw;
    align-items: center;
}

#countdown>#description {
    font-size: 5vw;
    font-weight: lighter;
}

#countdown>.numbers>span {
    position: relative;
    top: -.1em;
}

#countdown>.numbers .number {
    width: 25vw;
    margin-inline: 1vw;
    display: flex;
    align-items: center;
}

#countdown>.numbers .number>div {
    width: 50%;
    text-align: center;
}
